
    name: Deploy React with Password

    on:
      push:
        branches: ["main", "master"]

    permissions:
      contents: write

    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Set up Node
            uses: actions/setup-node@v4
            with:
              node-version: 20

          - name: Install Dependencies
            run: npm install

          - name: Build Project
            run: npm run build

          - name: Encrypt with Staticrypt
            run: |
              npm install -g staticrypt
              # מצפין את הקובץ שנוצר בתיקיית dist
              staticrypt dist/index.html '111' -o dist/index.html --title "Secure Presentation" --instructions "Protected Content"

          - name: Deploy to GitHub Pages
            uses: JamesIves/github-pages-deploy-action@v4
            with:
              folder: dist
    